.greenbarmainscreen{
    width: 815px;
    height: 1080px;
    position: absolute;
    bottom: -300px;
    right: 750px;
    background-color: #7dae82;
}
.mainmenutext{
    position: absolute;
    right: 160px;
    font-size: xx-large;
    font-family: 'Pacifico',cursive;
}
.logo{
    position: absolute;
    right: 200px;
    height: 100px;
    width:  100px;
    right: 1320px;
    top: 100px;
}
.welcometext{
    position: absolute;
    right: 120px;
    font-size: small; 
    top: 250px;
    font-family: 'Quicksand', sans-serif;
}
.loginbar{
    position: absolute;
    right: 520px;
    top: 390px;
}
.loginbutton{
    position: absolute;
    right: 480px;
    top: 600px;
}
input[type=text]{
    width: 370%;
    border-radius: 12px;
    height: 35px;
  }
input[type=submit]{
    width: 600%;
    height: 55px;
    border-radius: 12px;
}